<div id="<%= dom_id photo %>">
<div class="card" style="width: 35rem">
<div class= "card-body glass">
  <p>
    <strong>Description:</strong>
    <%= photo.description %>
  </p>

   <p>
    <strong>User:</strong>
    <%= photo.user_id %>
    </p>
<p>
<strong>Photo:</strong>
<% if photo.images.present? %>
 <%= image_tag photo.image,  class: "card-img-top rounded" %>
 <% end%>
 </P>
</div> 
</div>
<div class= "container">
<% photo.comments.each do |comment| %>
 <div class= "comment-conten text-dark"></div>
 <%= comment.content %>
 </div>
 <% end %>
</div>

